
 <header class="intro-header" style="background-image: url(<%= asset_path('home-bg')%>)">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
    </header>

    <div class="container">
        <div class="row">
          <% @stories.each do |story| %>
            <%= link_to story do %>
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title">
                            <%= story.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= story.content %>
                        </h3>
                             <tr>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
                    
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>      

<div class="container">
<%= link_to 'New Story', new_story_path %>
</div>
<hr>
